{% load i18n %}

{% block subject %}
{% blocktrans %}Сброс пароля finance_bot{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это сообщение, потому что запросили сброс пароля от приложения finance_bot.{% endblocktrans %}

{% trans "Ваш UID:" %} {{ uid }}
{% trans "Ваш TOKEN:" %} {{ token }}

{% trans "Ваш email:" %} {{ user.get_username }}

{% trans "Спасибо за использование нашего приложения!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Вы получили это сообщение, потому что запросили сброс пароля от приложения finance_bot.{% endblocktrans %}</p>

<p>{% trans "Ваш UID:" %} <b>{{ uid }}</b></p>
<p>{% trans "Ваш TOKEN:" %} <b>{{ token }}</b></p>

<p>{% trans "Ваш email:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Спасибо за использование нашего приложения!" %}</p>

<p>{% blocktrans %}Команда finance_bot{% endblocktrans %}</p>
{% endblock html_body %}